.art-exh--header ul {
  display: flex;
    width: 100%;
  max-width: 76rem;
}
.art-exh--header a:hover{
color: blue;
}

.art-exh-categories,
.art-exh-years{
  flex-wrap: wrap;
}

.art-exh-categories,
.art-exh-years{
  margin-bottom: 2rem;
}
.art-exh-categories a,
.art-exh-years a{
  font-size: 1rem;
  margin-right: 1.5rem;
}
.art-exh--list li{
  width: 100%;
}
.art-exh--lineUp--block{
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.art-exh--lineUp--block img{
  margin: 0.3rem;
}
.art-exh--list li:first-child{
  display: none;
}
.art-exh--list h2{
margin-bottom: 3rem;
}
@media(min-width:55rem){
  .art-exh--lineUp--block{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .art-exh--lineUp--inner{ 
    width: 30%;
  }
  .art-exh--lineUp--images{
    width: 60%;
  }
  .art-exh--lineUp--inner h3,
  .art-exh--lineUp--inner h4,
  .art-exh--lineUp--inner p{
    text-align: right;
  }
  .art-exh--list h2 {
    text-align: right;
    width: 30%;
  }
}