

.atelier-list li{
  padding: 1rem;
  box-sizing: border-box;
  padding: 4rem 0;
  margin: auto;
}
@media(min-width:45.75rem){
  .atelier-list{
    transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.atelier-intro h1{
  transition: 0.3s;
font-size: 4rem;
}
.atelier-intro span{
  font-size: 1.7rem;
}
.atelier-list li{
  width: 30%;
}
}