.contact-container-top{
  margin-top: 10rem;
  margin-bottom: 5rem;
}
@media(min-width:100rem){
 .contact-container-top h1{
   font-size: 4rem;
} 
.contact-container-top p{
  font-size: 2.1rem;
} 
}

.contact-container-bottom{
  margin-bottom: 30rem;
}
.contact-container-bottom div{
  margin-bottom: 2rem;
}
.contact-studio a,
.contact-gallery a{
  font-size: 1.2rem;
  transition: 0.3s;
}
@media (min-width: 100rem){
  .contact-studio a,
  .contact-gallery a{
    font-size: 1.9rem;
    transition: 0.3s;
  }
}
.contact-question input{
  background-color: unset;
  height: 4rem;
    background-color: unset;
    border: 2px solid #c7c7c7;
    width: 100%;
}
.contact-question form input::placeholder{
  margin-left: 1rem;
}
.contact-question form{
  display: flex;
  flex-direction: column;
}
#inputEmail{
  height: 2.6rem;
}
#inputText{
  height: 6rem;
}
.contact-question form button{
  width: 20%;
  padding: 1rem;
  background-color: blue;
  color: white;
  border: none;
}
@media (min-width: 54rem) {
.contact-container-bottom{
  display: flex
}
.contact-container-bottom div{
  width: 30%;
  box-sizing: border-box;
  padding: 1rem;
  margin: auto;
}
}