html{
  scroll-behavior: smooth;
}
body{
  font-family: 'moderatlight';
  line-height: 1.3;
  color: black;
  margin: 0;
}
.wrapper{
  transition: 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 150rem;
  margin: auto;
}
.static_page{
  text-decoration: underline black;
}.static_page:hover{
  text-decoration: underline blue;
}
.back-to-overview{
  text-align: right;
  margin: auto;
  margin-right: -1rem;
}
.container{
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
}
.home--page-image img{
  transition: 0.3s;
  padding-left: 1rem;
 }
@media(min-width:75rem){
  .wrapper{
    transition: 0.3s;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .home--page-image img{
    transition: 0.3s;
    padding-left: 10rem;
      }
}
*{
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
li, a, li a{
  list-style: none;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: black;
}
#goToTop{
  width: 100%;
}
.learn-more{
color: black;
text-decoration: underline black;
font-size: 1.5rem;
}
.learn-more:hover{
  color: blue;
}
.align-right{
text-align: right;
width: fit-content;
margin: 0 0 0 auto;
font-weight: bold;
}
.quote{
font-style: italic;
text-align: center;
}
h1{
  font-size: 2rem;
}
h2, a{
  font-size: 1.7rem;
}
a{
  height: fit-content;
width: fit-content;}
h3{
  font-size: 1.5rem
}
p{
  font-size: 1rem;
}
.logo{
  width: 9rem;
}
@media(min-width:62rem){
h1, h2, h3, p, a{
  transition: 0.3s;
}
  h1{
    font-size: 3rem;
  }
  h2, a{
    font-size:2rem;
  }
  h3{
    font-size: 1.8rem;
  }
  p{
    font-size: 1.3rem;
  }
  .logo{
    width: 16rem;
  }
}
#toTop{
    position: fixed;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: unset;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 10;
    width: 100%;
    background: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: white 5rem 5rem 5rem 5rem;
}
img{
  width: auto;
  max-width: 100%;

}
svg{
  width: 2rem;
  height: 2rem;
  fill: black;
  transition: 0.1s;
}
svg:hover{
  fill: blue;
  transition: 0.1s;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
header a:hover{
  color: blue;
}
.home--page-intro{
  margin-right: 0;
  padding-right: 0;
}
.home--page-image{
  width: fit-content;
  margin: 0 0 0 auto;
}
.hp--page-intro-2{
    padding-right: 1rem;
    max-width: 150rem;
    margin: auto;
}
.home--page-image img{
  width: calc(50vw + 83rem);
    margin: auto;
    box-sizing: border-box;
}
.hp-art-exhibitons--list li{
  width: 100%;
}
.hp-art-exhibitons--list li img{
  width: 100%;
}
@media(min-width: 58rem) {
  .hp-art-exhibitions{
    display: flex;
    position: relative;
    height: 31rem;
    margin: 8rem auto;
    align-items: center;
  }
  .rotate-right{
    transform: rotate(-90deg) translateX(50%);
    position: absolute;
    width: 15rem;
    height: fit-content;
    text-align: center;
    top: 60%;
    margin-left: -3rem;
  }
  .rotate-right h3{
    width: fit-content;
    margin: 0;
  }
  .hp-art-exhibitons--list{
   display: flex;
   margin-left: 6rem;
  }
  .hp-art-exhibitons--list li{
    margin: 2rem;
    margin-top: 0;
  }
}
.hp-atelier--list li{
  margin: auto;
}
.hp-atelier--list li img{
  margin: auto;
}
.hp-art-exhibitons--inner{
  margin: 5rem 0;
}
@media(min-width: 58rem) {
  .hp-art-exhibitons--inner{
    margin: 10rem 0;
  }
  .hp--page-intro-2{
    display: flex;
    margin-bottom: 5rem;
  }
  .hp--page-intro-2 img {
    width: 65%;
  }
  .hp--page-intro-2 div{
    width: 25%;
    margin: auto;
  } 
  .hp-atelier{
    position: relative;
    transition: 0.3s;
    margin-bottom: 4rem;
  }
  .hp-atelier--inner{
    margin-left: 6rem;
  }
.hp-atelier--list{
  display: flex;
}
.hp-atelier--list li{
  margin: auto;
  width: 30%;
}
}
@media(min-width: 65rem) {
  .hp--page-intro-2 h2{
    font-size: 3rem;
  }
  .hp--page-intro-2 p{
    font-size: 2.2rem;
  }
}
.footer--social{
  border-top:1px solid gray ;
  background-color: white;
}
.footer--social-icons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
    padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer--social-icons li {
  width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.footer--social-icons li p {
  width: fit-content;
}
footer{
  background-color: #e6e6e6;
}
@media(min-width: 65rem) {
  .footer--social-icons li {
    width: fit-content;
  }
  svg{
    width: 3rem;
    height: 3rem;
  }
}
.footer-stay-notified form{
  margin-top: 3rem;
}
.footer-stay-notified form input{
  height: 4rem;
  background-color: unset;
  border: 2px solid #c7c7c7;
  width: 100%;
}
.footer-stay-notified form input::placeholder{
  padding-left: 2rem;
  font-size: 1.2rem
}
.footer-rights,
.footer-galery-list,
.footer-instagram{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-instagram--inner{
  display: flex;
  justify-content: space-between;
}
.footer-galery-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.footer-galery-list li img{
  width: 100%;
}
.footer-galery-list li{
  width: 45%;
  margin: auto;
}
.footer-rights{
  padding-bottom: 8rem;
}
@media(min-width: 40rem) {
  .footer-stay-notified form input{
    width: 30%;
  }
  .footer-galery-list{
    margin-top: 0;
    justify-content: unset;
    margin: auto;
    width: fit-content;
  }
  .footer-instagram h3{
    width: 3rem;
  }
  .footer-instagram{
    display: flex;
    flex-direction: row;
  }
  .footer-instagram--inner{
    width: 46%;
    justify-content: space-between;
  }
  .footer-galery{
    width: 50%;
  }
  .footer-galery-list li{
    margin: 0.2rem
  }
    .footer-galery-list img,
  .footer-galery-list li{
    width: 5rem;
    height: 5rem;
  }
  .footer-rights{
    display: flex;
    flex-direction: row;
  }
  .footer-rights p {
    width: 50%;
  }
}
/* ------Biography----------- */
.bio-hero--image{ 
  width: fit-content; 
  margin: 0 0 0 auto;
}
.bio-hero--image img{
  width: calc(50vw + 83rem);
  margin: auto;
  box-sizing: border-box;
  padding-right: 1rem;
}
@media (min-width: 75rem){
.bio-hero--image img {
  transition: 0.3s;
  padding-right: 10rem;
}
}
.iframeContainer{
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding-bottom: calc(325 / 560 * 100%);
  margin-bottom: 2rem;
}
.iframeContainer iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}
.bio-uchronia{
  width: fit-content;
  margin: auto;
}
.bio-header{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.bio-naturebeauty h2{
  padding-top: 3rem;
}
.bio-quote p,
.bio-quote p span{
  text-align:  center;
  width: 80%;
  margin: auto;
  font-size: 1.3rem;
}
@media(min-width:30rem){
  .bio-header h1,
  .bio-header p{
    transition: 0.3s;
    width: 60%;
    margin: 0 auto 0 0;
  }
  .bio-header p:last-child{
    transition: 0.3s;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
  }
}
@media(min-width:46.75rem){
 .bio-diversity div{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
} 
.bio-diversity img{
  width: fit-content;
  box-sizing: border-box;
}
.bio-diversity-top img,
.bio-diversity-middle img,
.bio-diversity-middle-inner{
width: 50%;
padding: 2rem;
}
.bio-diversity-bottom img{
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
}
.bio-diversity-middle .bio-diversity-middle-inner{
  display: block;
}
.bio-drives{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.bio-drives p{
  width: 40%;
  font-size: 1.2rem;
  align-self: center;
}
.bio-drives img{
  width: 40%;
}
}

/* ------Press Details-------- */
.my-secret-garden-valencia--gallery-list{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.my-secret-garden-valencia--gallery-list li{
  padding: 1rem;
}
.my-secret-garden-valencia--downloadables-list{
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
}
.my-secret-garden-valencia--about li{
  list-style: disc;
  margin-left: 1rem;
}
.my-secret-garden-valencia--about{
  max-width: 58%;
  margin-left: 0;
}
.download-button{
  padding: 3rem 3rem;
  border: 1px solid gray;
  border-radius: 50px;
}
.download-button:hover{
  transition: 0.3s;
  border: 1px solid blue;
}
.download-button:hover p {
 color: blue;
}
/* ------visiting mons again------ */

.detail--related-list li,
.detail--related-list img{
width: 100%;
max-width: 30rem;
}
@media (min-width: 58rem){
  .detail--related-list {
    display: flex;
    margin-left: 6rem;
    margin: auto;
    width: fit-content;
    margin-bottom: 22rem;
    align-items: center;
}
.detail--related-list li{
  padding: 1rem;
}
}
.detail--about-hero{
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.detail--about-hero img{
  width: calc(50vw + 83rem);
  margin: auto;
  box-sizing: border-box;
  transition: 0.3s;
  padding-right: 1rem;
  transition: 0.3s;
}
.detail--about{
  width: fit-content; 
}
.details{
  margin: 0 auto 0 0;
  box-sizing: border-box;
  width: calc(50vw + 45%);
  max-width: 100%;
  position: relative;
  padding-bottom: calc(325 / 560 * 100%);
  margin-bottom: 2rem;
}
.details iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}
@media (min-width: 75rem){
  .details{
    width: calc(50vw + 35%);
  }
  .back-to-overview{
    margin-right: -10rem;
  }
}
.detail--galery-list{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.detail--galery-list li{
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding-bottom: 4rem;
}
.detail--galery img{
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
}
.detail--galery-list img:nth-child(5n),
.detail--galery-list li:nth-child(5n){
  width: calc(100% + 50rem);
  max-width: unset;
  padding: 0;
}
.detail--related h3{
  width: fit-content;
    margin: auto;
    margin-bottom: 4rem;
}
@media(min-width: 75rem){
  .detail--about{

    margin-top: 4rem;
  margin-bottom: 4rem;
  }
  .static_flex{
    display: flex;
    justify-content: space-between;
  }
  .detail--about-inner{
width: 50%;
  }
  .detail--about-date{
width: 10%;
  }
  .detail--about-hero img {
    transition: 0.3s;
    padding-right: 10rem;
}
.detail--galery-list li{
  width: 50%;
}
.detail--galery-list{
  

}
}
/* ------contact------ */
.contact-container-top{
  margin-top: 10rem;
  margin-bottom: 5rem;
}
@media(min-width:100rem){
 .contact-container-top h1{
   font-size: 4rem;
} 
.contact-container-top p{
  font-size: 2.1rem;
} 
}

.contact-container-bottom{
  margin-bottom: 30rem;
}
.contact-container-bottom div{
  margin-bottom: 2rem;
}
.contact-studio a,
.contact-gallery a{
  font-size: 1.2rem;
  transition: 0.3s;
}
@media (min-width: 100rem){
  .contact-studio a,
  .contact-gallery a{
    font-size: 1.9rem;
    transition: 0.3s;
  }
}
.contact-question input{
  background-color: unset;
  height: 4rem;
    background-color: unset;
    border: 2px solid #c7c7c7;
    width: 100%;
}
.contact-question form input::placeholder{
  margin-left: 1rem;
}
.contact-question form{
  display: flex;
  flex-direction: column;
}
#inputEmail{
  height: 2.6rem;
}
#inputText{
  height: 6rem;
}
.contact-question form button{
  width: 20%;
  padding: 1rem;
  background-color: blue;
  color: white;
  border: none;
}
@media (min-width: 54rem) {
.contact-container-bottom{
  display: flex
}
.contact-container-bottom div{
  width: 30%;
  box-sizing: border-box;
  padding: 1rem;
  margin: auto;
}
}
/* -----art & exhib--------- */
.art-exh--header ul {
  display: flex;
    width: 100%;
  max-width: 76rem;
}
.art-exh--header a:hover{
color: blue;
}

.art-exh-categories,
.art-exh-years{
  flex-wrap: wrap;
}

.art-exh-categories,
.art-exh-years{
  margin-bottom: 2rem;
}
.art-exh-categories a,
.art-exh-years a{
  font-size: 1rem;
  margin-right: 1.5rem;
}
.art-exh--list li{
  width: 100%;
}
.art-exh--lineUp--block{
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.art-exh--lineUp--block img{
  margin: 0.3rem;
}
.art-exh--list li:first-child{
  display: none;
}
.art-exh--list h2{
margin-bottom: 3rem;
}
@media(min-width:55rem){
  .art-exh--lineUp--block{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .art-exh--lineUp--inner{ 
    width: 30%;
  }
  .art-exh--lineUp--images{
    width: 60%;
  }
  .art-exh--lineUp--inner h3,
  .art-exh--lineUp--inner h4,
  .art-exh--lineUp--inner p{
    text-align: right;
  }
  .art-exh--list h2 {
    text-align: right;
    width: 30%;
  }
}
/* -----atelier----- */


.atelier-list li{
  padding: 1rem;
  box-sizing: border-box;
  padding: 4rem 0;
  margin: auto;
}
@media(min-width:45.75rem){
  .atelier-list{
    transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.atelier-intro h1{
  transition: 0.3s;
font-size: 4rem;
}
.atelier-intro span{
  font-size: 1.7rem;
}
.atelier-list li{
  width: 30%;
}
}
/* ----press----- */

.press-intro,
.press-inner{
  margin-bottom: 3rem;
}
.press-list-In li,
.press-list-Release li{
  margin-bottom: 5rem;
}
@media(min-width:58rem) {
  .press-image-container{
    position: relative;
    padding-bottom: 6rem;
  }
  .press-image-container img{
    width: 27rem;
    height: auto;
  }
  .press-list-Release,
  .press-list-In{
    display: flex;
    width: 70%;
    margin: auto;
  }
  .press-list-Release li,
  .press-list-In li {
    width: 100%;
    padding: 0.5rem;
  }
  .press-inner h3{
    margin: auto;
  }
}
@media(min-width:75rem){
  .press-list-Release,
  .press-list-In{
    display: flex;
    width: 100%;
    margin: auto;
  }
  .press-inner{
    margin-left: -11rem;
  }
  .press-list-Release li,
  .press-list-In li {
    padding: 1rem;
  }
}