body{
  font-family: 'moderatlight';
  line-height: 1.3;
  color: black;
  margin: 0;
}
.wrapper{
  transition: 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 150rem;
  margin: auto;
}
.home--page-image img{
  transition: 0.3s;
  padding-left: 1rem;
 }
@media(min-width:75rem){
  .wrapper{
    transition: 0.3s;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .home--page-image img{
    transition: 0.3s;
    padding-left: 10rem;
      }
}
*{
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
li, a, li a{
  list-style: none;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: black;
}
.link-to{

}
.learn-more{
  color: black;
text-decoration: underline black;
font-size: 1.5rem;
}
.learn-more:hover{
  color: blue;
}
.align-right{
text-align: right;
}
.qoute{
font-style: italic;
}
h1{
  font-size: 2rem;
}
h2, a{
  font-size: 1.7rem;
}
a{
  height: fit-content;
width: fit-content;}
h3{
  font-size: 1.5rem
}
p{
  font-size: 1rem;
}
.logo{
  width: 9rem;
}
@media(min-width:62rem){
h1, h2, h3, p, a{
  transition: 0.3s;
}
  h1{
    font-size: 3rem;
  }
  h2, a{
    font-size:2rem;
  }
  h3{
    font-size: 1.8rem;
  }
  p{
    font-size: 1.3rem;
  }
  .logo{
    width: 16rem;
  }
}
#toTop{
 position: fixed;
 bottom: 1rem;
 left: 50%;
 transform: translateX(-50%);
 background-color: unset;
 border: none;
 font-size: 2.5rem;
 border-bottom: 2px solid black;
 cursor: pointer;
 z-index: 10;
}
#toTop:hover{
  color:blue;
  border-bottom: 2px solid blue;
}
img{
  width: auto;
  max-width: 100%;

}
svg{
  width: 2rem;
  height: 2rem;
  fill: black;
  transition: 0.1s;
}
svg:hover{
  fill: blue;
  transition: 0.1s;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-bottom: 4rem;
  padding-top: 3rem;
}
.home--page-intro{
  margin-right: 0;
  padding-right: 0;
}
.home--page-image{
  width: fit-content;
  margin: 0 0 0 auto;
}
.hp--page-intro-2{
    padding-right: 1rem;
    max-width: 150rem;
    margin: auto;
}
.home--page-image img{
  width: calc(50vw + 83rem);
    margin: auto;
    box-sizing: border-box;
}
.hp-art-exhibitons--list li{
  width: 100%;
}
.hp-art-exhibitons--list li img{
  width: 100%;
}
@media(min-width: 58rem) {
  .hp-art-exhibitions{
    display: flex;
    position: relative;
  }
  .rotate-right{
    transform: rotate(-90deg) translateX(50%);
    position: absolute;
    width: 15rem;
    height: fit-content;
    text-align: center;
    top: 50%;
    margin-left: -3rem;
  }
  .rotate-right h3{
    width: fit-content;
    margin: 0;
  }
  .hp-art-exhibitons--list{
   display: flex;
   margin-left: 6rem;
  }
  .hp-art-exhibitons--list li{
    margin: 2rem;
  }
}
.hp-atelier--list li{
  margin: auto;
}
.hp-atelier--list li img{
  margin: auto;
}
@media(min-width: 58rem) {
  .hp--page-intro-2{
    display: flex;
    margin-bottom: 5rem;
  }
  .hp--page-intro-2 img {
    width: 65%;
  }
  .hp--page-intro-2 div{
    width: 25%;
    margin: auto;
  } 
  .hp-atelier{
    position: relative;
  }
  .hp-atelier--inner{
    margin-left: 6rem;
  }
.hp-atelier--list{
  display: flex;
}
.hp-atelier--list li{
  margin: auto;
  width: 30%;
}
}
@media(min-width: 65rem) {
  .hp--page-intro-2 h2{
    font-size: 3rem;
  }
  .hp--page-intro-2 p{
    font-size: 2.2rem;
  }
}
.footer--social{
  border-top:1px solid gray ;
  background-color: white;
}
.footer--social-icons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
    padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer--social-icons li {
  width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer--social-icons li p {
  width: fit-content;
}
footer{
  background-color: #e6e6e6;
}
@media(min-width: 65rem) {
  .footer--social-icons li {
    width: fit-content;
  }
  svg{
    width: 3rem;
    height: 3rem;
  }
}
.footer-stay-notified form{
  margin-top: 3rem;
}
.footer-stay-notified form input{
  height: 4rem;
  background-color: unset;
  border: 2px solid #c7c7c7;
  width: 100%;
}
.footer-stay-notified form input::placeholder{
  padding-left: 2rem;
  font-size: 1.2rem
}
.footer-rights,
.footer-galery-list,
.footer-instagram{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-instagram--inner{
  display: flex;
  justify-content: space-between;
}
.footer-galery-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.footer-galery-list li img{
  width: 100%;
}
.footer-galery-list li{
  width: 45%;
  margin: auto;
}
.footer-rights{
  padding-bottom: 4rem;
}
@media(min-width: 40rem) {
  .footer-stay-notified form input{
    width: 30%;
  }
  .footer-galery-list{
    margin-top: 0;
    justify-content: unset;
    margin: auto;
    width: fit-content;
  }
  .footer-instagram h3{
    width: 3rem;
  }
  .footer-instagram{
    display: flex;
    flex-direction: row;
  }
  .footer-instagram--inner{
    width: 46%;
    justify-content: space-between;
  }
  .footer-galery{
    width: 50%;
  }
  .footer-galery-list li{
    margin: 0.2rem
  }
    .footer-galery-list img,
  .footer-galery-list li{
    width: 5rem;
    height: 5rem;
  }
  .footer-rights{
    display: flex;
    flex-direction: row;
  }
  .footer-rights p {
    width: 50%;
  }
}


